moin/com.sap.tc.moin.libraries.base/schema/textverticalization_inf.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:moinarch="http://sap.com/moin/MoinArchive"
	targetNamespace="http://sap.com/moin/MoinArchive">

	<xs:element name="SerializationCallback">
		<xs:complexType>
			<xs:attribute name="className" type="xs:string" use="required" />			
		</xs:complexType>
	</xs:element>

	<xs:element name="TextverticalizationInf">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element ref="moinarch:SerializationCallback" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>