moin/com.sap.tc.moin.query.client/src/com/sap/tc/moin/js/query/service/QueryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://sap.com/tc/moin/js/query/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sap.com/tc/moin/js/query/service/" xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    	targetNamespace="http://sap.com/tc/moin/js/query/service/"
    	version="1.0">
    	<xs:element name="QueryExecutionFaultInfo" type="xs:string" />
    	<xs:element name="processReport" type="tns:processReport" />
    	<xs:element name="executeQuery" type="tns:executeQuery" />
    	<xs:element name="executeQueryResponse"
    		type="tns:executeQueryResponse" />
    	<xs:complexType name="executeQuery">
    		<xs:sequence>
    			<xs:element minOccurs="1" name="query" type="xs:string" />
    			<xs:element minOccurs="1" name="scope"
    				type="tns:wsQueryScope" />
    			<xs:element minOccurs="0" name="numberOfResults"
    				type="xs:int" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsQueryScope">
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="containerScope" nillable="true" type="xs:string" />
    			<xs:element maxOccurs="unbounded" minOccurs="1"
    				name="dataAreaScope" nillable="true" type="xs:string" />
    			<xs:element name="scopeOperation" type="xs:int" default="0"/>
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="partitionScope" nillable="true" type="xs:string" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="executeQueryResponse">
    		<xs:sequence>
    			<xs:element minOccurs="0" name="return"
    				type="tns:wsResultSet" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsResultSet">
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" minOccurs="1"
    				name="columnType" nillable="false" type="tns:wsColumnType" />
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="resultRow" nillable="true" type="tns:wsResultRow" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsColumnType">
    		<xs:sequence>
    			<xs:element minOccurs="1" name="alias" type="xs:string" />
    			<xs:element minOccurs="0" name="attribute"
    				type="xs:string" />
    			<xs:element name="multiValued" type="xs:boolean" />
    			<xs:element name="ordered" type="xs:boolean" />
    			<xs:element minOccurs="0" name="typeName"
    				type="xs:string" />
    			<xs:element name="unique" type="xs:boolean" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:simpleType name="processStatusType">
    		<xs:restriction base="xs:int">
    			<!--Assume jaxb customization specifying enumConstantName-->
    			<xs:enumeration value="0" /><!-- name="successful"-->
    			<xs:enumeration value="1" /><!-- name="successful_with_warnings"-->
    			<xs:enumeration value="-1" /><!-- name="initial"-->
    			<xs:enumeration value="2" /><!-- name="failed"-->
    			<xs:enumeration value="3" /><!-- name="fatal"-->
    		</xs:restriction>
    	</xs:simpleType>
    	<xs:complexType name="processReport">
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="errors" nillable="true" type="tns:processError" />
    			<xs:element name="processStatus"
    				type="tns:processStatusType" />
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="warnings" nillable="true" type="tns:processWarning" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="processError">
    		<xs:complexContent>
    			<xs:extension base="tns:processMessage">
    				<xs:sequence>
    					<xs:element minOccurs="0" name="rootCause"
    						type="tns:wsThrowable" />
    				</xs:sequence>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    	<xs:complexType name="processMessage">
    		<xs:sequence>
    			<xs:element name="endColumn" type="xs:int" />
    			<xs:element name="endLine" type="xs:int" />
    			<xs:element name="endPosition" type="xs:int" />
    			<xs:element minOccurs="0" name="message"
    				type="xs:string" />
    			<xs:element name="startColumn" type="xs:int" />
    			<xs:element name="startLine" type="xs:int" />
    			<xs:element name="startPosition" type="xs:int" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsThrowable">
    		<xs:sequence>
    			<xs:element minOccurs="0" name="cause"
    				type="tns:wsThrowable" />
    			<xs:element minOccurs="0" name="message"
    				type="xs:string" />
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="stackTrace" nillable="true"
    				type="tns:wsStackTraceElement" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsStackTraceElement">
    		<xs:sequence>
    			<xs:element minOccurs="0" name="className"
    				type="xs:string" />
    			<xs:element minOccurs="0" name="fileName"
    				type="xs:string" />
    			<xs:element name="lineNumber" type="xs:int" />
    			<xs:element minOccurs="0" name="methodName"
    				type="xs:string" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="processWarning">
    		<xs:complexContent>
    			<xs:extension base="tns:processMessage">
    				<xs:sequence>
    					<xs:element maxOccurs="unbounded" minOccurs="0"
    						name="stackTrace" nillable="true"
    						type="tns:wsStackTraceElement" />
    				</xs:sequence>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    	<xs:complexType final="#all" name="wsResultRow">
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="cell" nillable="true" type="tns:wsResultObject" />
    		</xs:sequence>
    	</xs:complexType>
    	<xs:complexType name="wsResultObject">
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" minOccurs="0"
    				name="multi" nillable="true" type="xs:string" />
    		</xs:sequence>
    		<xs:attribute name="simple" type="xs:anySimpleType"
    			use="optional" />
    	</xs:complexType>
    	<xs:element name="getFacilities"/>
    	<xs:element name="getFacilitiesResponse">
    		<xs:complexType>
    			<xs:sequence>
    				<xs:element maxOccurs="unbounded" minOccurs="0" name="facilityId" type="xs:string"/>
    			</xs:sequence>
    		</xs:complexType>
    	</xs:element>
    	<xs:element name="getDataAreas">
    		<xs:complexType>
    			<xs:sequence>
    				<xs:element name="facilityId" type="xs:string"/>
    			</xs:sequence>
    		</xs:complexType>
    	</xs:element>
    	<xs:element name="getDataAreasResponse">
    		<xs:complexType>
    			<xs:sequence>
    				<xs:element maxOccurs="unbounded" minOccurs="0" name="dataAreaDescriptor" type="xs:string"/>
    			</xs:sequence>
    		</xs:complexType>
    	</xs:element>
        <xs:element name="InvalidResourceIdentifierFaultInfo" type="xs:string"/>
        <xs:complexType name="KVList">
              <xs:sequence>
                 <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                       <xs:attribute name="key" type="xs:string" use="required"/>
                       <xs:attribute name="value" type="xs:anySimpleType" use="required"/>
                    </xs:complexType>
                 </xs:element>
              </xs:sequence>
        </xs:complexType>
        <xs:element name="getDataArea">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="dataAreaConfig" type="tns:KVList"/>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
        <xs:element name="getDataAreaResponse">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="dataAreaDescriptor" type="xs:string"/>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
        <xs:element name="getDataAreaConfig">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="dataAreaDescriptor" type="xs:string"/>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
        <xs:element name="getDataAreaConfigResponse">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="dataAreaConfig" type="tns:KVList"/>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeQueryIn">
    <wsdl:part element="tns:executeQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="executeQueryOut">
    <wsdl:part element="tns:executeQueryResponse" name="executeQueryResponse"/>
  </wsdl:message>
  <wsdl:message name="QueryExecutionFault">
    <wsdl:part element="tns:QueryExecutionFaultInfo" name="QueryExecutionFaultInfo"/>
  </wsdl:message>
  <wsdl:message name="QueryFormatFault">
    <wsdl:part element="tns:processReport" name="processReport"/>
  </wsdl:message>
  <wsdl:message name="getFacilitiesRequest">
  	<wsdl:part name="parameters" element="tns:getFacilities"/>
  </wsdl:message>
  <wsdl:message name="getFacilitiesResponse">
  	<wsdl:part name="parameters" element="tns:getFacilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="getDataAreasRequest">
  	<wsdl:part name="parameters" element="tns:getDataAreas"/>
  </wsdl:message>
  <wsdl:message name="getDataAreasResponse">
  	<wsdl:part name="parameters" element="tns:getDataAreasResponse"/>
  </wsdl:message>
  <wsdl:message name="InvalidResourceIdentifierFault">
  	<wsdl:part name="parameters" element="tns:InvalidResourceIdentifierFaultInfo"/>
  </wsdl:message>
  <wsdl:message name="getDataAreaRequest">
  	<wsdl:part name="parameters" element="tns:getDataArea"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataAreaResponse">
  	<wsdl:part name="parameters" element="tns:getDataAreaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataAreaConfigRequest">
  	<wsdl:part name="parameters" element="tns:getDataAreaConfig"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataAreaConfigResponse">
  	<wsdl:part name="parameters" element="tns:getDataAreaConfigResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Query">
    <wsdl:operation name="executeQuery" parameterOrder="parameters">
      <wsdl:input message="tns:executeQueryIn"/>
      <wsdl:output message="tns:executeQueryOut"/>
      <wsdl:fault message="tns:QueryExecutionFault" name="QueryExecutionFaultInfo"/>
      <wsdl:fault message="tns:QueryFormatFault" name="processReport"/>
    </wsdl:operation>
    <wsdl:operation name="getFacilities">
       <wsdl:input message="tns:getFacilitiesRequest"/>       <wsdl:output message="tns:getFacilitiesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDataAreas">
      <wsdl:input message="tns:getDataAreasRequest"/>
      <wsdl:output message="tns:getDataAreasResponse"/>
      <wsdl:fault name="fault" message="tns:InvalidResourceIdentifierFault"/>
    </wsdl:operation>
    <wsdl:operation name="getDataArea">
    	<wsdl:input message="tns:getDataAreaRequest"></wsdl:input>
    	<wsdl:output message="tns:getDataAreaResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:InvalidResourceIdentifierFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="getDataAreaConfig">
    	<wsdl:input message="tns:getDataAreaConfigRequest"></wsdl:input>
    	<wsdl:output message="tns:getDataAreaConfigResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:InvalidResourceIdentifierFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  	name="QueryBinding" type="tns:Query">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="executeQuery">

  		<soap:operation
  			soapAction="http://sap.com/tc/moin/js/query/service/executeQuery" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="QueryExecutionFaultInfo">

  			<soap:fault use="literal" name="QueryExecutionFaultInfo" />
  		</wsdl:fault>
  		<wsdl:fault name="processReport">

  			<soap:fault use="literal" name="processReport" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="getFacilities">

  		<soap:operation
  			soapAction="http://sap.com/tc/moin/js/query/service/getFacilities" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getDataAreas">

  		<soap:operation
  			soapAction="http://sap.com/tc/moin/js/query/service/getDataAreas" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="getDataArea">

  		<soap:operation
  			soapAction="http://sap.com/tc/moin/js/query/service/getDataArea" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="getDataAreaConfig">

  		<soap:operation
  			soapAction="http://sap.com/tc/moin/js/query/service/getDataAreaConfig" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port binding="tns:QueryBinding" name="QueryBeanPort">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://vemoin01.dhcp.wdf.sap.corp:50000/QueryService/Query"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
